.primary {
  background-color: var(--darken-orange);
}
.primary * {
  color: #fff;
  font-weight: 200;
  font-size: 0.9rem;
}

.photo-button {
  background-image: url("/assets/img/brand-logo.png");
  background-size: cover;
  height: 24vw;
  width: 24vw;
}
span.person-info {
  border-bottom: 1px solid #fff;
}

/*
* estilos para el menu
*/
.nav-caption {
  padding-left: 20px;
}
mat-expansion-panel-header {
  z-index: 0 !important;
  padding: 0px 16px !important;
}
mat-nav-list > a.mat-list-item,
mat-expansion-panel {
  padding-bottom: 1px !important;
  border-bottom: 1px solid var(--light-gray) !important;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
mat-nav-list a:hover,
mat-nav-list a:active {
  color: var(--darken-orange);
}
