<div fxFlex.gt-sm="70">
  <mat-card class="progress mat-elevation-z2 mb-3">
    <mat-card-header>
      <mat-card-title class="pt-1">Estado del proyecto</mat-card-title>
    </mat-card-header>
    <!--       -->
    <mat-horizontal-stepper *ngIf="estadosLine.length > 0" [linear]="true" labelPosition="bottom" [selectedIndex]="refreshIndex()">
      <mat-step [editable]="false" [completed]="paso.completado" [label]="paso.estado.nombreEstado" *ngFor="let paso of estadosLine">
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>

  <mat-card class="progress mat-elevation-z2 mb-3">
    <mat-card-header>
      <mat-card-title class="pt-1">Avance del Proyecto</mat-card-title>
    </mat-card-header>
    <mat-progress-bar class="pb-2 mb-3" mode="determinate" [value]="avance"></mat-progress-bar>
  </mat-card>
</div>

<aside class="mb-3" fxFlex fxLayout="column">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>{{estado.nombreEstado}}</mat-card-title>
      <mat-card-subtitle>Estado Actual</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="p-2">
        <p class="bold">Descripción Estado del proyecto:</p>
        <p>{{estado.descripcion}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</aside>
