<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>Miembros del proyecto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <img matListAvatar src="/assets/img/avatar.png" alt="">
        <h3 mat-line>Mario Andres Ruiz Bedoya</h3>
        <p mat-line>Lider de proyecto</p>
        <p mat-line>MArioarb.97@gmail.com</p>
        <span style="color: rgba(0,0,0,0.54);">Tú</span>
      </mat-list-item>
      <mat-list-item class="pl-md-5">
        <ngx-avatar name="Mario Andres" matListAvatar></ngx-avatar>
        <h3 mat-line>Mario Andres Ruiz Bedoya</h3>
        <p mat-line>Lider de proyecto</p>
        <p mat-line>MArioarb.97@gmail.com</p>
      </mat-list-item>
      <mat-list-item class="pl-md-5">
        <!-- <img matListAvatar src="/assets/img/avatar.png" alt=""> -->
        <ngx-avatar name="Mario Ruiz" matListAvatar></ngx-avatar>
        <h3 mat-line>Mario Andres Ruiz Bedoya</h3>
        <p mat-line>Lider de proyecto</p>
        <p mat-line>MArioarb.97@gmail.com</p>
      </mat-list-item>
      <mat-list-item class="pl-md-5">
        <!-- <img matListAvatar src="/assets/img/avatar.png" alt=""> -->
        <ngx-avatar name="Mario And ruiz" matListAvatar></ngx-avatar>
        <h3 mat-line>Mario Andres Ruiz Bedoya</h3>
        <p mat-line>Lider de proyecto</p>
        <p mat-line>MArioarb.97@gmail.com</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
