<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>Miembros del proyecto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngIf="miUsuario">
        <img matListAvatar src="/assets/img/avatar.png" alt="">
        <h3 mat-line>{{getNombre()}}</h3>
        <p mat-line>{{miRol}}</p>
        <p mat-line>{{miUsuario.correo}}</p>
        <span style="color: rgba(0,0,0,0.54);">Tú</span>
      </mat-list-item>


      <mat-list-item class="pl-md-5" *ngFor="let miembro of miembros">
        <!-- <img matListAvatar src="/assets/img/avatar.png" alt=""> -->
        <ngx-avatar [name]="getMiembroName(miembro)" matListAvatar></ngx-avatar>
        <h3 mat-line>{{getMiembroName(miembro)}}</h3>
        <p mat-line>{{miembro.rolProyecto}}</p>
        <p mat-line>{{miembro.usuario.correo}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
