footer {
  background-color: #ececef;
}
footer section mat-list h3 {
  font-weight: 200;
  border-bottom: 1px solid black;
}
mat-list {
  min-width: 25%;
}
mat-list mat-list-item a,
mat-list h3 {
  min-width: 100%;
  text-align: center !important;
}

mat-list mat-list-item a {
  font-weight: 200;
  font-size: 0.9rem;
  text-decoration: none;
  color: #000;
}

.credits {
  background-color: #c1c1c1 !important;
  text-decoration: none;
  text-decoration-line: none;
  font-size: 0.8rem;
  color: black;
}
.credits a {
  text-decoration: none;
}
