header {
  text-align: center;
  margin-top: 3vh;
  min-height: 25vh;
  max-height: 30vh;
  background-image: url("/assets/img/brand-logo.png");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30% 50%;
}

.login-title {
  font-weight: 200 !important;
}

mat-form-field {
  min-width: 95%;
  align-self: center;
}

mat-card-actions button {
  min-width: 40%;
}

/*

    BOTONES DE REDES SOCIALES
*/
.redes-header {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 200;
  letter-spacing: -1px;
}


.redes .red-social {
  padding: 10px 5px;
  margin: 0px 2px;
  margin-bottom: 5%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
}

.redes .red-social:hover {
  background-color: #000;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;

  transform: scaleY(1.25);
  transition-duration: 500ms;
  animation-duration: 500ms;
}

.redes .fb {
  background-color: #3b5998;
}

.redes .twitter {
  background-color: #1da1f2;
}

.redes .email {
  background-color: #ff6550;
}

.redes .web {
  background-color: #314251;
}

@media (max-width: 960px) {
  header {
    background-size: 65% 60%;
  }
}
