/*
* estilos a los textos
*/
h3 {
  font-size: 1.75rem;
}
.contacto-title {
  color: var(--darken-orange);
}
.info-empresa {
  background-color: var(--darken-orange);
  padding-bottom: 40px;
}
.info-empresa * {
  color: #fff !important;
}
/* .info-empresa mat-list-item {
  font-size: 1.2rem;
} */

/*
* estilos al formulario
*/
mat-form-field {
  min-width: 90%;
}

.form-contacto button {
  color: var(--darken-orange);
  font-weight: 500;
  font-size: 1rem;
}
