<section fxLayout.lt-sm="column">
  <div class="info-empresa mat-elevation-z4 py-4" fxFlex fxFlex.lt-sm="100" fxLayout="column" fxLayoutAlign="center center">
    <h3>Asistencia Gerencial Estratégica</h3>
    <span>Información de Contacto</span>

    <mat-list *ngIf="empresa.length > 0">
      <mat-list-item *ngFor="let props of empresa">
        <mat-icon matListIcon>{{props.icon}}</mat-icon>
        <h4 matLine>{{props.title}}</h4>
        <span matLine>{{props.value}}</span>
      </mat-list-item>
    </mat-list>

    <mat-list *ngIf="equipo.length > 0">
      <h4>Equipo</h4>
      <mat-list-item *ngFor="let employee of equipo">
        <mat-icon matListIcon>verified_user</mat-icon>
        <p matLine>{{employee.nombre}}</p>
        <p matLine>{{employee.cargo}}</p>
        <p matLine>Móvil: {{employee.telefono}}</p>
        <p matLine>{{employee.email}}</p>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="form-contacto mat-elevation-z4 py-4" fxFlex fxFlex.lt-sm="100">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
      <h3 class="contacto-title">Ponte en contacto</h3>

      <mat-form-field class="my-4">
        <mat-label>Nombre* </mat-label>
        <input matInput type="text" placeholder="Ej. Mario Ruiz" formControlName="nombre">
        <mat-icon matPrefix>face</mat-icon>
        <mat-hint>Ingresa tu nombre max. 30 caracteres / actual:{{contactForm.value.nombre.length}}</mat-hint>
        <mat-error>Nombre obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field class="my-4">
        <mat-label>Correo Electrónico* </mat-label>
        <input matInput type="email" email placeholder="Ej. MarioRuiz@gmail.com" formControlName="correo">
        <mat-icon matPrefix>email</mat-icon>
        <mat-hint>Ingresa tu correo</mat-hint>
        <mat-error>Ingresa un correo válido</mat-error>
      </mat-form-field>

      <mat-form-field class="my-4">
        <mat-label>Teléfono*</mat-label>
        <input matInput type="tel" placeholder="Ej. 3015465076" formControlName="telefono">
        <mat-icon matPrefix>phonelink_ring</mat-icon>
        <mat-hint>Campo Obligatorio max. 14 caracteres / actual:{{contactForm.value.telefono.length}}</mat-hint>
        <mat-error *ngIf="contactForm.value.telefono.length < 7">Teléfono mínimo de 7 caracteres</mat-error>
      </mat-form-field>

      <mat-form-field class="my-4">
        <mat-label>Mensaje*</mat-label>
        <textarea matInput placeholder="Deja tu mensaje" formControlName="mensaje"></textarea>
        <mat-icon matPrefix>message</mat-icon>
        <mat-hint>Campo Obligatorio max. 255 caracteres / actual:{{contactForm.value.mensaje.length}}</mat-hint>
        <mat-error>Mensaje es obligatorio</mat-error>
      </mat-form-field>

      <button *ngIf="!isLoading" mat-button type="submit" class="px-3 py-1 mat-elevation-z4"
      [disabled]="contactForm.invalid">Enviar mensaje</button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </div>

</section>
