<div gdAreas="header | content" gdGap="1em" gdRows="auto auto auto">

  <header class="pt-4 m-2" gdArea="header" fxLayoutAlign="center center">
    <h1 fxFlex="50">{{isUpdate ? 'Actualizar' : 'Crear'}} Estado de Proyecto</h1>
  </header>

  <section gdArea="content">
    <form autocomplete="off" [formGroup]="estadoForm" (ngSubmit)="onSubmit()" fxLayoutAlign="center">
      <mat-card class="mat-elevation-z8 py-4" fxFlex="80" fxFlex.lt-sm="100">
        <mat-card-content class="form-group p-2" fxLayout="column" fxLayoutAlign="center center">
          <div class="form-group" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline">
              <mat-label>Código Asignado</mat-label>
              <input matInput formControlName="id">
              <mat-hint>El código es autoasignado por el sistema</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nombre Estado de Proyecto</mat-label>
              <input matInput placeholder="Ej. Creado" formControlName="nombreEstado">
              <mat-hint>Ingrese un nombre hasta 100 caracteres ({{estadoForm.value.nombreEstado.length}}/max. 100) </mat-hint>
              <mat-error>El nombre es obligatorio</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline">
              <mat-label>Estado Anterior</mat-label>
              <mat-select formControlName="idEstadoAnterior">
                <mat-option [value]="item.id" *ngFor="let item of allEstados">{{ item.id + ' ' + item.nombreEstado}} </mat-option>
              </mat-select>
              <mat-hint>Seleccione el estado anterior</mat-hint>
            </mat-form-field>
            <p fxLayout="column">
              <mat-checkbox color="primary" formControlName="requerido">Es Requerido?</mat-checkbox>
              <mat-hint>Este campo indica si es obligatorio para finalizar el proyecto.</mat-hint>
            </p>
          </div>
          <div class="form-group" fxLayoutAlign="center">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea matInput placeholder="Ej. estado inicial de todo proyecto" formControlName="descripcion"></textarea>
              <mat-icon matPrefix>message</mat-icon>
              <mat-hint>Campo Obligatorio max. 255 caracteres / actual:{{estadoForm.value.descripcion.length}} </mat-hint>
              <mat-error>Ingrese una descripción válida</mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions class="form-action mt-4" fxLayoutAlign="center" fxLayout.lt-sm="column">
          <button class="m-2" type="button" mat-raised-button (click)="goBack()" color="warn" *ngIf="!isWaiting">
            <mat-icon>arrow_back</mat-icon>Regresar al listado
          </button>
          <button class="m-2" type="submit" mat-raised-button color="primary" [disabled]="!estadoForm.valid" *ngIf="!isWaiting">
            <mat-icon>save</mat-icon> Guardar Estado
          </button>
          <mat-spinner *ngIf="isWaiting"></mat-spinner>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>
</div>
