@import "../../../../../assets/css/header-styles.css";

.form-group {
  width: 100%;
}

.form-group mat-form-field, .form-group p {
  padding: 10px 5px;
  min-width: 47%;
}

.form-group p mat-hint {
  font-size: 75% !important;
}

.form-action button {
  min-width: 30%;
}

@media (max-width: 600px) {
  mat-form-field {
    width: 100%;
  }
}
