@import "../../../../../assets/css/header-styles.css";

.form-group {
  width: 100%;
}

.form-group mat-form-field {
  padding: 10px 5px;
  min-width: 47%;
}

.form-group label#radio-group {
  font-size: 85% !important;
}

.form-group mat-radio-button {
  margin: 0.55rem;
}

.form-action button {
  min-width: 35%;
}

@media (max-width: 600px) {
  mat-form-field {
    width: 100%;
  }
}
