@import "../../../../assets/css/header-styles.css";

.form-group {
  min-width: 100%;
}

.form-group mat-form-field {
  margin-top: 1em;
  width: 47%;
}

.form-action button {
  min-width: 30%;
}

.muted {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.54);
}

@media (max-width: 600px) {
  .form-group mat-form-field {
    width: 100%;
  }
}
