<div gdAreas="header | content | footer" gdGap="1em" gdRows="auto auto auto">

  <header gdArea="header"></header>

  <section gdArea="content">
    <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" fxLayoutAlign="center">
      <mat-card class="mat-elevation-z10" fxFlex.gt-xs="50" fxFlex.lt-sm fxLayout="column">
        <mat-card-header fxFlexAlign="center">
          <mat-card-title>
            <h2 class="login-title">Recuperación de contraseña</h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutGap="20px">
          <mat-form-field appearance="outline">
            <mat-label>Email Usuario </mat-label>
            <input type="email" matInput placeholder="Ej. MarioRuiz97@gmail.com" formControlName="username">
            <mat-hint>Ingese el correo con que inicia sesión</mat-hint>
            <mat-error>Ingrese un correo de usuario válido</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions class="mb-4" fxLayoutAlign="center center" fxLayout.lt-sm="column">
          <!-- BOTONERA -->
          <button type="submit" color="primary" class="mat-elevation-z8 m-1" mat-raised-button [disabled]="!resetForm.valid"> Recuperar clave </button>
          <button type="button" color="warn" class="mat-elevation-z8 m-1" mat-raised-button routerLink="/login">Volver a inicio </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>

  <footer gdArea="footer" class="m-5">
    <h3 class="redes-header">Visita nuestras redes sociales</h3>
    <div class="redes m-auto" fxFlexFill fxLayout="row" fxLayoutAlign="center" fxFlexAlign="center">
      <div class="red-social fb mat-elevation-z5" fxFlex.lt-sm="22" fxFlex.gt-sm="10" (click)="redirect('fb')" matTooltip="Asisge en Facebook">Facebook</div>
      <div class="red-social twitter mat-elevation-z5" fxFlex.lt-sm="22" fxFlex.gt-sm="10" (click)="redirect('twitter')" matTooltip="Asisge en Twitter">Twitter</div>
      <div class="red-social email mat-elevation-z5" fxFlex.lt-sm="22" fxFlex.gt-sm="10" (click)="redirect('email')" matTooltip="Envía un correo">Email</div>
      <div class="red-social web mat-elevation-z5" fxFlex.lt-sm="22" fxFlex.gt-sm="10" (click)="redirect('web')" matTooltip="Ir a la página">Página Web</div>
    </div>
  </footer>
</div>
