<div gdAreas="header | content" gdGap="1em" gdRows="auto auto auto">

  <header class="pt-4 m-2" gdArea="header" fxLayoutAlign="center center">
    <h1 fxFlex="50">{{ isUpdate? 'Actualizar' : 'Crear'}} Cliente</h1>
  </header>

  <section gdArea="content">
    <form autocomplete="off" [formGroup]="clienteForm" (ngSubmit)="onSubmit()" fxLayoutAlign="center">
      <mat-card class="mat-elevation-z8 py-4" fxFlex="80" fxFlex.lt-sm="100">
        <mat-card-content class="p-2" fxLayout="column" fxFlexAlign="center" fxLayoutAlign="center center">

          <div class="form-group my-3" fxLayoutAlign="space-evenly" fxLayout.lt-sm="column">
            <mat-form-field appearance="outline">
              <mat-label>Código Asignado</mat-label>
              <input matInput formControlName="idCliente">
              <mat-hint>El código es autoasignado por el sistema</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Identificacion</mat-label>
              <input matInput placeholder="Ej. 9008765431" formControlName="identificacion">
              <mat-hint>Ingrese la identificación del cliente (máximo 20 caracteres)</mat-hint>
              <mat-error>Ingrese una identificación válida</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group my-3" fxLayoutAlign="space-evenly" fxLayout.lt-sm="column">
            <mat-form-field appearance="outline">
              <mat-label>Razón Social</mat-label>
              <input matInput placeholder="Ej. Asistencia Gerencial Estratégica SAS" formControlName="razonSocial">
              <mat-hint>Ingrese la razón social</mat-hint>
              <mat-error>La razón social es obligatoria</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nombre Comercial</mat-label>
              <input matInput placeholder="Ej. Asisge SAS" formControlName="nombreComercial">
              <mat-hint>Ingrese el nombre comercial del cliente o la misma razón social</mat-hint>
              <mat-error>El nombre comercial es obligatorio</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="select-group my-3" fxFlex="48" fxFlex.lt-md="100">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select formControlName="tipoDocumento">
              <mat-option [value]="item.id" *ngFor="let item of tiposDoc">{{item.nombreTipoDocumento}}</mat-option>
            </mat-select>
            <mat-hint>Seleccione un tipo de documento</mat-hint>
          </mat-form-field>


          <h3 class="contact-header pt-3">Contactos</h3>
          <button type="button" mat-mini-fab color="primary" (click)="agregarContacto()">
            <mat-icon>add</mat-icon>
          </button>

          <app-contacto-list  (eliminar)="deleteContacto($event)" (refrescar)="refrescarContactos()" (editar)="editarContacto($event)">
          </app-contacto-list>

        </mat-card-content>
        <p class="invalid-form" *ngIf="clienteForm.invalid">**El formulario posee errores, verifica los campos.</p>
        <mat-card-actions class="form-action mt-4" fxLayoutAlign="center" fxLayout.lt-sm="column">
          <button class="m-2" type="button" mat-raised-button (click)="goBack()" color="warn" *ngIf="!isWaiting">
            <mat-icon>arrow_back</mat-icon>Regresar <span fxHide.lt-sm> al listado</span>
          </button>
          <button class="m-2" type="submit" mat-raised-button color="primary" [disabled]="!clienteForm.valid" *ngIf="!isWaiting">
            <mat-icon>save</mat-icon> Guardar Cliente
          </button>
          <mat-spinner *ngIf="isWaiting"></mat-spinner>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>
</div>
