.about-header {
  height: 90vh;
  background-image: url("https://demo.s4ds.com/images/about/banner-about-us.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.about-header h1 {
  padding-left: 35px;
  font-size: 3.5rem;
  font-weight: 500;
}

/*
 * estilos contenido principal
 */
.about-content div {
  padding: 15px 20px;
}

.historia,
.hacer {
  min-height: 50vh;
  margin-top: 40px;
  margin-bottom: 40px;
  background-position: center;
  background-size: cover;
}

.historia {
  background-image: url("http://www.asisge.com/fotos/Image/servicios/gestion.jpg");
}

.hacer {
  background-image: url("http://www.asisge.com/fotos/Image/cabezotesjq/jquery2.jpg?1569089271144");
}

.historia-caption h3,
.hacer-caption h3,
.about-team h3 {
  color: var(--darken-orange);
  font-size: 2rem;
  font-weight: 300;
}

/*
* estilos cards
*/
mat-card,
mat-card-header {
  margin-bottom: 15px;
}

mat-card-title {
  color: var(--darken-orange);
}

.mario-photo {
  background-image: url("/assets/img/mario-ruiz.png");
}

.juliana-photo {
  background-image: url("https://cdn.pixabay.com/photo/2015/03/17/14/05/sparkler-677774_960_720.jpg");
}

.fab-icon {
  width: 300px;
  height: 300px;
  cursor: default;
  background-position: center;
  background-size: cover;
}
