@import '../../../../../assets/css/form-styles.css';
/* .form-group {
  min-width: 80vw;
} */
.form-group mat-form-field {
  width: 474px;
  max-width: 474px;
}
.form-action button {
  min-width: 30%;
}



@media(max-width: 500px){
  .form-group mat-form-field {
    max-width: 275px;
  }
}
