
.sidenav mat-list-item * {
  color: var(--darken-orange);
  font-weight: 400;
  text-align: center;
}

.sidenav mat-list-item mat-icon {
  font-size: 1.75rem;
}

.mat-list-base[dense] .mat-list-item,
.mat-list-base .mat-list-item {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
