<div fxLayoutAlign="center" *ngIf="!planActual">
  <h3>Debes seleccionar primero un plan de trabajo</h3>
</div>

<mat-drawer-container class="mt-4 py-4" *ngIf="planActual">
  <mat-drawer #aside class="sidenav" role="directory" mode="side">
    <mat-action-list>
      <mat-list-item [routerLink]="['/proyectos/'+ planActual.proyecto.idProyecto +'/plan/'+ planActual.idPlanDeTrabajo]"
          *ngIf="!planActual.cierre && auth.hasRoles(['ROLE_ADMIN', 'ROLE_ASESOR'])">
        <div mat-line><mat-icon mat-list-icon>edit</mat-icon></div>
        <div mat-line><span>Editar Plan</span></div>
      </mat-list-item>
      <mat-list-item (click)="aprobacionPlan()">
        <div mat-line><mat-icon mat-list-icon>thumb_up_alt</mat-icon></div>
        <div mat-line><span>Aprobar Plan de Trabajo</span></div>
      </mat-list-item>
      <mat-list-item (click)="cerrarPlan()">
        <div mat-line><mat-icon mat-list-icon>assignment_turned_in</mat-icon></div>
        <div mat-line><span>Cerrar Plan</span></div>
      </mat-list-item>
      <mat-list-item (click)="agregarEtapa()" *ngIf="!planActual.cierre && auth.hasRoles(['ROLE_ADMIN', 'ROLE_ASESOR'])">
        <div mat-line><mat-icon mat-list-icon>queue</mat-icon></div>
        <div mat-line><span>Agregar Etapa</span></div>
      </mat-list-item>
      <mat-list-item (click)="agregarActividad()" *ngIf="!planActual.cierre && auth.hasRoles(['ROLE_ADMIN', 'ROLE_ASESOR'])">
        <div mat-line><mat-icon mat-list-icon>post_add</mat-icon></div>
        <div mat-line><span>Agregar Actividad</span></div>
      </mat-list-item>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content class="pl-2 pr-1" fxLayout="column" fxLayoutGap="1rem">
    <div class="row mb-3">
      <button mat-icon-button (click)="aside.toggle()" matTooltip="Abrir menú lateral">
        <mat-icon>{{ aside.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
      </button>
      <h3 class="pl-4 my-auto">Plan de trabajo</h3>
      <h4 *ngIf="planActual.cierre">  (Este plan ya está cerrado. No se pueden hacer modificaciones) </h4>
      <div fxFlex></div>
      <button class="mr-3" mat-icon-button (click)="recargarPlan()" matTooltip="Recargar Plan">
        <mat-icon class="mat-18">refresh</mat-icon>
      </button>
    </div>
    <app-etapas-plan></app-etapas-plan>
    <app-actividades-plan></app-actividades-plan>
  </mat-drawer-content>
</mat-drawer-container>
