<mat-drawer-container class="mt-4 py-4">
  <mat-drawer #aside class="sidenav" role="directory" mode="side">
    <mat-action-list dense>
      <mat-list-item>
        <div mat-line><mat-icon mat-list-icon>person_add</mat-icon></div>
        <div mat-line><span>Agregar Miembro</span></div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line><mat-icon mat-list-icon>queue</mat-icon></div>
        <div mat-line><span>Agregar Etapa</span></div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line><mat-icon mat-list-icon>post_add</mat-icon></div>
        <div mat-line><span>Agregar Actividad</span></div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line><mat-icon mat-list-icon>note_add</mat-icon></div>
        <div mat-line><span>Agregar Seguimiento</span></div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line><mat-icon mat-list-icon>attach_file</mat-icon></div>
        <div mat-line><span>Ver Archivos</span></div>
      </mat-list-item>
    </mat-action-list>
  </mat-drawer>

  <mat-drawer-content class="pl-2 pr-1">
    <button class="mb-3" mat-button (click)="aside.toggle()"><mat-icon>{{ aside.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon></button>
    <app-proximas-actividades class="row mb-3"></app-proximas-actividades>
    <app-proximas-actividades class="row mb-3"></app-proximas-actividades>
  </mat-drawer-content>
</mat-drawer-container>
