/* You can add global styles to this file, and also import other style files */
@import "./assets/css/bootstrap-grid-min.css";

:root {
  --darken-orange: #ff3400;
  --light-orange: #ff601d;
  --deep-blue: #2d4d69;
  --darken-blue: #314251;
  --light-gray: #b9bfc4;
  --darken-gray: #838787;
}

body {
  margin: 0;
  font-family: "Roboto", "Open Sans", sans-serif;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav.gt-sm {
  width: 50vw;
}
mat-sidenav.lt-sm {
  width: 75vw;
}

app-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

tr.mat-row:hover {
  background-color: #EEE;
}
