h2 {
  font-size: 2em;
  font-weight: 400;
  padding-left: 5%;
}

mat-toolbar {
  max-width: 90vw;
  margin: 0 auto;
  border-radius: 5px;
}

section {
  padding-top: 20vh;
  background-image: url("../../../../assets/img/proyecto-header.jpg");
  /* background-image: url('https://image.freepik.com/foto-gratis/lugar-estudios-taza-amarilla-marco-fotos-gris_23-2147878288.jpg'); */
  background-attachment: fixed;
  /* background-position: 50% 25%; */
  background-size: 100vw 50vh;
  background-repeat: no-repeat;
}

.add-card {
  min-height: 30vh;
}

.add-project {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #3f51b5;
  text-align: center;
  font-weight: 500;
}

.quitar-filtros mat-icon {
  font-size: 3em;
}

div.mat-line {
  min-height: 25px;
}
div.mat-line span {
  font-size: 1.2em;
}

span.list-title {
  display: inline-block;
  min-width: 29%;
  font-weight: 500;
}

/*
  BOTONES DE REDES SOCIALES
*/
.redes-header {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 200;
  letter-spacing: -1px;
}

.redes .red-social {
  padding: 10px 5px;
  margin: 0px 2px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
}

.redes .red-social:hover {
  background-color: #000;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;

  transform: scaleY(1.25);
  transition-duration: 500ms;
  animation-duration: 500ms;
}

.redes .fb {
  background-color: #3b5998;
}

.redes .twitter {
  background-color: #1da1f2;
}

.redes .email {
  background-color: #ff6550;
}

.redes .web {
  background-color: #314251;
}

@media (max-width: 608px) {
  mat-toolbar,
  mat-toolbar-row {
    height: fit-content;
  }
}
